<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Admin-login</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css" />
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />
  <!-- JQVMap -->
  <link rel="stylesheet" href="/plugins/jqvmap/jqvmap.min.css" />
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css" />
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/plugins/overlayScrollbars/css/OverlayScrollbars.min.css" />
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css" />
  <!-- summernote -->
  <link rel="stylesheet" href="/plugins/summernote/summernote-bs4.min.css" />
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a href="https://ultroneous.com" class="h3"><b>Forget Password</b></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Changes your password</p>
        <form>

          <div class="input-group mb-3">
            <input type="password" name="password" id="newPassword" class="form-control" placeholder="New Password"
              required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="password" id="conformPassword" class="form-control"
              placeholder="Conform Password" required />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8"></div>
            <!-- /.col -->

            <!-- /.col -->
          </div>
          <div class="col-4">
            <button class="btn btn-primary btn-block" id="signin" onclick="login()">
              Sign In
            </button>
          </div><br>
          <p id="demo" style="color: red; padding-top: 6px; padding-left: 8px;"></p>
        </form>

        <!-- /.social-auth-links -->
      </div>

      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- /.login-box -->
  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- jquery-validation -->
  <script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->



  <script type="text/javascript">
    const login = () => localStorage.setItem("authorized", "ultroneous")
    $(document).on("click", "#signin", async function (e) {
      e.preventDefault()
      let url = window.location
      const str = url.search
      const id = str.slice(4)

      let newPassword = document.getElementById('newPassword').value
      let conformPassword = document.getElementById('conformPassword').value

    const regularExpression  = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*()+=-\?;,./{}|\":<>\[\]\\\' ~_]).{8,}/
    let data = Object.assign({ id }, { newPassword });

 if(!regularExpression.test(newPassword)) {
        alert("password should contain atleast one number and one special character min character 8");  
        return false;   
    }else if (newPassword === conformPassword) {
         const res = await axios.post('http://localhost:8000/admin/forgetpasswordforlogin', data)
        .then(res => res)
        .catch(error => error)

        if (res.data.status === 'success') {
          alert("Your password is updated")
          window.location.href = ('http://localhost:8000/admin/login')
        }
      }
      else {
        alert("Please enter correct conformPassword")
      }
    })

  </script>
</body>

</html>
</body>

</html>